$font: 'Roboto', sans-serif;

/* Colour variables */ 
$lighter-blue: #EDF0F4;
$light-blue: #edf0f480;
$dark-blue: #3792EB;
$dark-grey: #221F1F;
$dark-grey-opaque: #221f1f21;


/* Layout variables */
$padding: 75px; /* default is for tablet, desktop and above */
$border-radius: 5px;

/* Animation variables */
$hover-duration: 0.2s;


/* Root styles */

@media (min-width: 320px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
}


* {
  font-family: $font;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $lighter-blue;
}

h1 {
  font-weight: 400; 
}

h2 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

@media (min-width: 320px) { /* Mobile */
  .container {
    color: $dark-grey;
    background-color: #FFFFFF;
    box-shadow: #221f1f21 0px 0px 5px;
  }  
}

@media (min-width: 768px) { /* Tablet */
  .container {
    border-radius: 50px;
    margin: $padding / 4;
  }
}

@media (min-width: 1024px) { /* Laptop */
  .container {
    margin: $padding;
  }
}

@media (min-width: 2560px) { /* Retina */
  .container {
    margin: $padding*2;
  }
}

/* Ad units */

@media (min-width: 320px) {

  .ad-top {
    width: 300px;
    height: 250px;
  }
  
  .ad-content {
    width: 300px;
    height: 250px;
  }

  .ad-leaderboard {
    width: 300px;
    height: 250px;
  }
  
  .ad-bottom {
    width: 300px;
    height: 250px;
  }

  .ad-unit-outside-content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    border: $dark-grey-opaque 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
    margin-bottom: $padding/2;
  }

  .ad-unit-outside-content-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    border: $dark-grey-opaque 1px solid;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    margin-top: $padding/2;
    margin-bottom: $padding/2;
  }

}

@media (min-width: 1024px) {

  .ad-top {
    width: 970px;
    height: 250px;
  }

  .ad-bottom {
    width: 970px;
    height: 250px;
  }
  
  .ad-leaderboard {
    width: 728px;
    height: 90px;
  }

  .ad-unit-outside-content-bottom {
    margin-bottom: $padding;
  }

}

@media (min-width: 2560px) {
  .ad-unit-outside-content-bottom {
    margin-bottom: $padding*2;
  }
}


/* Header */

@media (min-width: 320px) { /* Mobile */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .site-title {
    padding-top: $padding / 1.5;
    flex-grow: 2;

    h1 {
      font-size: 1.75rem;

      a {
        text-decoration: none;
        color: $dark-grey;
        transition: all $hover-duration;

        i {
          margin-right: 10px;
          color: $dark-blue;
        }
      }

      a:hover {
        color: $dark-grey-opaque;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $padding / 3;
    padding: 5px 0px 5px 0px;
    background-color: $light-blue;
    border-radius: $border-radius;

    a {
      font-size: 1rem;
      text-decoration: none;
      display: block;
      margin: 0px 5px 0px 5px;
      transition: all $hover-duration;
      border-radius: $border-radius;
      color: $dark-grey;
    }

    a:hover {
      background-color: $dark-grey-opaque;
      color: $dark-blue;
    }

    a.current {
      color: $dark-blue;
    }

    }

}

@media (min-width: 768px) { /* Tablet */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $padding $padding/4 $padding/2 $padding/4;

    .site-title {
      padding-top: 0;
      width: 500px;

      h1 {
        font-size: 2rem;
      }

    }
  }

  nav {
    padding: 0;
    margin-top: 0;

    a {
      margin: 0;
      padding: 10px;
      font-size: 0.7rem;
    }
  }

}

@media (min-width: 1024px) { /* Laptop */
  header {
    padding: $padding $padding 0px $padding;

    .site-title {

      h1 {
        font-size: 2.5rem;
        margin-left: -26px;
      }
    }

    nav {
      a {
        font-size: 1rem;
      }
    }
  }
}


/* Content */

@media (min-width: 320px) {
  .content {
    padding: $padding / 4 ;

    .section-title {
      margin-top: $padding / 4;
      margin-bottom: $padding / 2;
      background-color: $dark-blue;
      color: #FFFFFF;
      border-radius: $border-radius;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      min-height: 100px;
      max-height: 250px;

      h1 {
        font-size: 1.6rem;
      }
    
      p {
        margin: 0;
      }
      
    }

    section {
      margin-bottom: $padding / 2;
      border-bottom: $dark-grey-opaque solid 1px;
    
      .section-with-ad-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section-with-ad-item-1 {
          flex-grow: 2;
        }

        .section-with-ad-item-2 {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $light-blue;
          border: $dark-grey-opaque 1px solid;
          padding: 5px;
          margin-bottom: $padding/2;
        }

      }

      h2 {
        display: inline-block;
        background-color: $dark-grey;
        color: #FFFFFF;
        border-radius: $border-radius;
        text-align: center;
        padding: 5px;
        margin-bottom: 20px;
      }
    
      p {
        margin-bottom: $padding / 4;
        line-height: 1.25;

        a {
          font-weight: 400;
          text-decoration: none;
          color: $dark-blue;
          transition: all $hover-duration;
        } 
      }

      p:last-child {
        margin-bottom: $padding / 2;
      }

      .img-equation {
        text-align: center;
        margin-bottom: $padding/2;
        img {
          width: 100%;
        }
      }

      .img-screengrab {
        text-align: center;
        margin-bottom: $padding/2;
        img {
          width: 100%;
        }
      }

      ul {
        padding: $padding/4 $padding/2 $padding/2 $padding/2;
        font-size: 0.9rem;
        font-weight: 300;

        li {
          margin-bottom: 10px;
        }
      }

      .metric-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: $padding/2;
      
        a {
          font-size: 1.25rem;
          width: 300px;
          height: 75px;
          background-color: $dark-blue;
          color: #FFFFFF;
          text-decoration: none;
          text-align: center;
          border-radius: 5px;
          margin: 5px;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: center;    
          transition: all $hover-duration;      
        }

        a:hover {
          background-color: $dark-grey;
        }
      
      }
    
    }
  }
}

@media (min-width: 768px) {
  .content {
    .section-title {
      margin-top: 0;

      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    padding: $padding;

      .section-title {
        margin-bottom: $padding;
      }

    section {

      .section-with-ad-container {
        flex-direction: row;

        .section-with-ad-item-1 {
          p {
            padding-right: $padding;
          }
        }
      }

      .img-equation {
        margin-bottom: $padding/2;
        img {
          width: 80%;
        }
      }
    }



  }
}

/* Calculator */
@media (min-width: 320px) { /* Mobile */
  .calculator {
    background-color: $dark-grey;
    color: #FFFFFF;
    border-radius: $border-radius;
    padding: $padding/2;
    font-weight: 300;
    margin-bottom: $padding/2;
    // box-shadow: rgba(0, 0, 0, 0.596) 0px 0px 5px;

    .calculator-title {
      text-align: center;
      padding-bottom: $padding/2;

      i {
        margin-bottom: 10px;
      }
    }

    form {
      input {
        margin-bottom: $padding/4;
        font-size: 1rem;
        font-weight: 300;
        padding: 10px;
        height: 50px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: $border-radius/2;
      }

      label:last-of-type input {
        background-color: #cacaca;
        margin-bottom: $padding/3;
      }

      button {
        background-color: $dark-blue;
        font-weight: 300;
        font-size: 1rem;
        color: #FFFFFF;
        border-radius: $border-radius/2;
        width: 100%;
        height: 50px;
        border: none;
      }
    }
  }
}

@media (min-width: 768px) {

  .calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .calculator {
      padding: $padding;
      width: 60%;
      form {
        button {
          transition: background-color $hover-duration;
        }
        button:hover {
          background-color: #2b79c7;
        }
      }
    }
  }

}

@media (min-width: 1024px) {
  .calculator-container {
    .calculator {
      width: 50%;
      // padding: $padding $padding*4 $padding $padding*4;
      margin-bottom: $padding;
    }
  }
}

/* Contact Page */

@media (min-width: 320px) { /* Mobile */

  .contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $padding;
    font-weight: 300;

    form {
      background-color: $dark-grey-opaque;
      border-radius: 5px;
      padding: $padding/2;


      .contact-form-title {
        font-weight: 400;
        margin-bottom: $padding/2;
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-form-left {
          input {
            font-size: 1rem;
            font-weight: 300;
            padding: 10px;
            height: 50px;
            width: 300px;
            outline: none;
            border: 1px solid rgb(170, 170, 170);
            border-radius: $border-radius;
            margin-bottom: 29px;
          }
        }
    
        .contact-form-right {
          textarea {
            font-size: 1rem;
            font-weight: 300;
            padding: 10px;
            width: 300px;
            height: 150px;
            outline: none;
            border: 1px solid rgb(170, 170, 170);
            border-radius: 5px;
          }
        }
      }

      .button-area {
        width: 100%;
        text-align: center;
        padding-top: $padding/2;

        button {
          background-color: $dark-blue;
          color: #FFFFFF;
          font-size: 1rem;
          font-weight: 300;
          width: 150px;
          height: 50px;
          border: 0;
          border-radius: 5px;
          transition: background-color $hover-duration;
        }

        button:hover {
          background-color: $dark-grey;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) { /* Tablet */
  .contact-form-container {
    form {
      .contact-form {
        width: 400px;

        .contact-form-left {
          width: 100%;
          input {
            width: 100%;
          }
        }

        .contact-form-right {
          width: 100%;
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) { /* Laptop */
  .contact-form-container {
    form {
      width: 100%;
      .contact-form {
        flex-direction: row;
        width: 100%;
        height: 200px;

        .contact-form-left {
          height: 100%;
          input {
            width: 90%;
          }
        }
        
        .contact-form-right {
          height: 100%;
          textarea: {
            width: 100px;
          }
        }
      }

      .button-area {
        padding-bottom: $padding/3;

        button {
          width: 200px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  button {
    width: 250px;
  }
}


/* Footer */

@media (min-width: 320px) { /* Mobile */

  footer {
    background-color: $dark-grey;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;

    .footer-links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-links-column {
        width: 70%;
        margin-top: $padding/2;
        
        h1 {
          font-size: 1.25rem;
          border-bottom: white 1px solid;
          margin-bottom: 5px;
        }

        ul {
          list-style-type: none;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
          transition: color $hover-duration;
        }

        a:hover {
          color: $dark-blue;
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: $padding/2;
      font-size: 0.75rem;
    }

  }
}

@media (min-width: 768px) { /* Tablet */
  footer {
    font-size: 0.8rem;

    .footer-links-container {
      .footer-links-column {
        h1 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) { /* Laptop */
  footer {

    .footer-links-container {
      flex-direction: row;

      .footer-links-column {
        height: 200px;
        width: 300px;
        padding: 0 $padding/2 0 $padding/2;
      }
    }

    .copyright {
      padding-top: $padding/5;
    }
  }
}

@media (min-width: 1440px) { /* Larger laptop */

  footer {
    .footer-links-container {
      .footer-links-column {
        height: 290px;
      }
    }
  }

}