/* Colour variables */
/* Layout variables */
/* default is for tablet, desktop and above */
/* Animation variables */
/* Root styles */
@media (min-width: 320px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #EDF0F4;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

@media (min-width: 320px) {
  /* Mobile */
  .container {
    color: #221F1F;
    background-color: #FFFFFF;
    box-shadow: #221f1f21 0px 0px 5px;
  }
}
@media (min-width: 768px) {
  /* Tablet */
  .container {
    border-radius: 50px;
    margin: 18.75px;
  }
}
@media (min-width: 1024px) {
  /* Laptop */
  .container {
    margin: 75px;
  }
}
@media (min-width: 2560px) {
  /* Retina */
  .container {
    margin: 150px;
  }
}
/* Ad units */
@media (min-width: 320px) {
  .ad-top {
    width: 300px;
    height: 250px;
  }

  .ad-content {
    width: 300px;
    height: 250px;
  }

  .ad-leaderboard {
    width: 300px;
    height: 250px;
  }

  .ad-bottom {
    width: 300px;
    height: 250px;
  }

  .ad-unit-outside-content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf0f480;
    border: #221f1f21 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
    margin-bottom: 37.5px;
  }

  .ad-unit-outside-content-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf0f480;
    border: #221f1f21 1px solid;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    margin-top: 37.5px;
    margin-bottom: 37.5px;
  }
}
@media (min-width: 1024px) {
  .ad-top {
    width: 970px;
    height: 250px;
  }

  .ad-bottom {
    width: 970px;
    height: 250px;
  }

  .ad-leaderboard {
    width: 728px;
    height: 90px;
  }

  .ad-unit-outside-content-bottom {
    margin-bottom: 75px;
  }
}
@media (min-width: 2560px) {
  .ad-unit-outside-content-bottom {
    margin-bottom: 150px;
  }
}
/* Header */
@media (min-width: 320px) {
  /* Mobile */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .site-title {
    padding-top: 50px;
    flex-grow: 2;
  }
  .site-title h1 {
    font-size: 1.75rem;
  }
  .site-title h1 a {
    text-decoration: none;
    color: #221F1F;
    transition: all 0.2s;
  }
  .site-title h1 a i {
    margin-right: 10px;
    color: #3792EB;
  }
  .site-title h1 a:hover {
    color: #221f1f21;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 5px 0px 5px 0px;
    background-color: #edf0f480;
    border-radius: 5px;
  }
  nav a {
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin: 0px 5px 0px 5px;
    transition: all 0.2s;
    border-radius: 5px;
    color: #221F1F;
  }
  nav a:hover {
    background-color: #221f1f21;
    color: #3792EB;
  }
  nav a.current {
    color: #3792EB;
  }
}
@media (min-width: 768px) {
  /* Tablet */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 75px 18.75px 37.5px 18.75px;
  }
  header .site-title {
    padding-top: 0;
    width: 500px;
  }
  header .site-title h1 {
    font-size: 2rem;
  }

  nav {
    padding: 0;
    margin-top: 0;
  }
  nav a {
    margin: 0;
    padding: 10px;
    font-size: 0.7rem;
  }
}
@media (min-width: 1024px) {
  /* Laptop */
  header {
    padding: 75px 75px 0px 75px;
  }
  header .site-title h1 {
    font-size: 2.5rem;
    margin-left: -26px;
  }
  header nav a {
    font-size: 1rem;
  }
}
/* Content */
@media (min-width: 320px) {
  .content {
    padding: 18.75px;
  }
  .content .section-title {
    margin-top: 18.75px;
    margin-bottom: 37.5px;
    background-color: #3792EB;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
  }
  .content .section-title h1 {
    font-size: 1.6rem;
  }
  .content .section-title p {
    margin: 0;
  }
  .content section {
    margin-bottom: 37.5px;
    border-bottom: #221f1f21 solid 1px;
  }
  .content section .section-with-ad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content section .section-with-ad-container .section-with-ad-item-1 {
    flex-grow: 2;
  }
  .content section .section-with-ad-container .section-with-ad-item-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf0f480;
    border: #221f1f21 1px solid;
    padding: 5px;
    margin-bottom: 37.5px;
  }
  .content section h2 {
    display: inline-block;
    background-color: #221F1F;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
  }
  .content section p {
    margin-bottom: 18.75px;
    line-height: 1.25;
  }
  .content section p:last-child {
    margin-bottom: 37.5px;
  }
  .content section .metric-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 37.5px;
  }
  .content section .metric-grid a {
    font-size: 1.25rem;
    width: 300px;
    height: 75px;
    background-color: #3792EB;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  .content section .metric-grid a:hover {
    background-color: #221F1F;
  }
}
@media (min-width: 768px) {
  .content .section-title {
    height: 100px;
    margin-top: 0;
  }
  .content .section-title h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .content {
    padding: 75px;
  }
  .content .section-title {
    margin-bottom: 75px;
  }
  .content section .section-with-ad-container {
    flex-direction: row;
  }
  .content section .section-with-ad-container .section-with-ad-item-1 p {
    padding-right: 75px;
  }
}
/* Contact Page */
@media (min-width: 320px) {
  /* Mobile */
  .contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    font-weight: 300;
  }
  .contact-form-container form {
    background-color: #221f1f21;
    border-radius: 5px;
    padding: 37.5px;
  }
  .contact-form-container form .contact-form-title {
    font-weight: 400;
    margin-bottom: 37.5px;
  }
  .contact-form-container form .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form-container form .contact-form .contact-form-left input {
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom: 29px;
  }
  .contact-form-container form .contact-form .contact-form-right textarea {
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    width: 300px;
    height: 150px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }
  .contact-form-container form .button-area {
    width: 100%;
    text-align: center;
    padding-top: 37.5px;
  }
  .contact-form-container form .button-area button {
    background-color: #3792EB;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  .contact-form-container form .button-area button:hover {
    background-color: #221F1F;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  /* Tablet */
  .contact-form-container form .contact-form {
    width: 400px;
  }
  .contact-form-container form .contact-form .contact-form-left {
    width: 100%;
  }
  .contact-form-container form .contact-form .contact-form-left input {
    width: 100%;
  }
  .contact-form-container form .contact-form .contact-form-right {
    width: 100%;
  }
  .contact-form-container form .contact-form .contact-form-right textarea {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* Laptop */
  .contact-form-container form {
    width: 100%;
  }
  .contact-form-container form .contact-form {
    flex-direction: row;
    width: 100%;
    height: 200px;
  }
  .contact-form-container form .contact-form .contact-form-left {
    height: 100%;
  }
  .contact-form-container form .contact-form .contact-form-left input {
    width: 90%;
  }
  .contact-form-container form .contact-form .contact-form-right {
    height: 100%;
    textarea-width: 100px;
  }
  .contact-form-container form .button-area {
    padding-bottom: 25px;
  }
  .contact-form-container form .button-area button {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  button {
    width: 250px;
  }
}
/* Footer */
@media (min-width: 320px) {
  /* Mobile */
  footer {
    background-color: #221F1F;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
  }
  footer .footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-links-container .footer-links-column {
    width: 70%;
    margin-top: 37.5px;
  }
  footer .footer-links-container .footer-links-column h1 {
    font-size: 1.25rem;
    border-bottom: white 1px solid;
    margin-bottom: 5px;
  }
  footer .footer-links-container .footer-links-column ul {
    list-style-type: none;
  }
  footer .footer-links-container .footer-links-column a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s;
  }
  footer .footer-links-container .footer-links-column a:hover {
    color: #3792EB;
  }
  footer .copyright {
    text-align: center;
    padding-top: 37.5px;
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  /* Tablet */
  footer {
    font-size: 0.8rem;
  }
  footer .footer-links-container .footer-links-column h1 {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  /* Laptop */
  footer .footer-links-container {
    flex-direction: row;
  }
  footer .footer-links-container .footer-links-column {
    height: 200px;
    width: 300px;
    padding: 0 37.5px 0 37.5px;
  }
  footer .copyright {
    padding-top: 15px;
  }
}
@media (min-width: 1440px) {
  /* Larger laptop */
  footer .footer-links-container .footer-links-column {
    height: 290px;
  }
}

/*# sourceMappingURL=styles.css.map */
