/* Colour variables */ 
$lighter-blue: #EDF0F4;
$light-blue: #edf0f480;
$dark-blue: #3792EB;
$dark-grey: #221F1F;
$dark-grey-opaque: #221f1f21;


/* Layout variables */
$padding: 75px; /* default is for tablet, desktop and above */
$border-radius: 5px;

/* Animation variables */
$hover-duration: 0.2s;


/* Root styles */

@media (min-width: 320px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}


* {
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $lighter-blue;
}

h1 {
  font-weight: 400; 
}

h2 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

@media (min-width: 320px) { /* Mobile */
  .container {
    color: $dark-grey;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: $padding / 4;
    box-shadow: #221f1f21 0px 0px 5px;
  }  
}

@media (min-width: 768px) { /* Tablet */
  .container {
    margin: $padding / 3;
  }
}

@media (min-width: 1024px) { /* Laptop */
  .container {
    margin: $padding;
  }
}


/* Header */

@media (min-width: 320px) { /* Mobile */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .site-title {
    padding-top: $padding / 1.5;
    flex-grow: 2;

    h1 {
      font-size: 2rem;

      a {
        text-decoration: none;
        color: $dark-grey;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $padding / 3;
    padding: 5px 0px 5px 0px;
    background-color: $light-blue;
    border-radius: $border-radius;

    a {
      font-size: 0.8rem;
      text-decoration: none;
      display: block;
      margin: 0px 5px 0px 5px;
      transition: all $hover-duration;
      border-radius: $border-radius;
      color: $dark-grey;
    }

    a:hover {
      background-color: $dark-grey-opaque;
      color: $dark-blue;
    }

    }

}

@media (min-width: 768px) { /* Tablet */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $padding $padding 0 $padding;

    .site-title {
      padding-top: 0;

      h1 {
        font-size: 2.5rem;
      }

    }
  }

  nav {
    padding: 0;
    margin-top: 0;

    a {
      margin: 0;
      padding: 10px;
      font-size: 0.7rem;
    }
  }

}

@media (min-width: 1024px) {
  header {
    nav {
      a {
        font-size: 1rem;
      }
    }
  }
}

/* Content */

@media (min-width: 320px) {
  .content {
    padding: $padding / 4 ;

    .section-title {
      margin-top: $padding / 4;
      margin-bottom: $padding / 2;
      background-color: $dark-blue;
      color: #FFFFFF;
      border-radius: $border-radius;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 130px;

      h1 {
        font-size: 1.6rem;
      }
    
      p {
        margin: 0;
      }
      
    }

    section {
      margin-bottom: $padding / 2;
      border-bottom: $dark-grey-opaque solid 1px;
    
      .section-with-ad-container {
        display: flex;
        flex-direction: column;

        .section-with-ad-item-1 {
          flex-grow: 2;
        }

        .section-with-ad-item-2 {
          flex-grow: 1;
        }

      }

      h2 {
        display: inline-block;
        background-color: $dark-grey;
        color: #FFFFFF;
        border-radius: $border-radius;
        text-align: center;
        padding: 5px;
        margin-bottom: 20px;
      }
    
      p {
        margin-bottom: $padding / 4;
        line-height: 1.25;
      }

      p:last-child {
        margin-bottom: $padding / 2;
      }
    
    }
  }
}

@media (min-width: 768px) {
  .content {
    .section-title {
      height: 100px;
      margin-top: 0;

      h1 {
        font-size: 2rem;
      }
    }

    section {
      .section-with-ad-container {
        display: flex;
        flex-direction: column;
  
        .section-with-ad-item-1 {
          flex-grow: 2;
        }
  
        .section-with-ad-item-2 {
          flex-grow: 1;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    padding: $padding;
    .section-title {
      margin-bottom: $padding;
    }
  }
}


/* Footer */

@media (min-width: 320px) {

  footer {
    background-color: $dark-grey;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5;

    .footer-links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-links-column {
        width: 50%;
        margin-top: $padding/2;
        
        h1 {
          font-size: 1rem;
          border-bottom: white 1px solid;
          margin-bottom: 5px;
        }

        ul {
          list-style-type: none;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
          transition: color $hover-duration;
        }

        a:hover {
          color: $dark-blue;
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: $padding/2;
      font-size: 0.75rem;
    }

  }
}

@media (min-width: 1024px) {
  footer {
    .footer-links-container {
      flex-direction: row;
      .footer-links-column {
        height: 200px;
        width: 300px;
        padding: 0 $padding/2 0 $padding/2;
      }
    }

    .copyright {
      padding-top: $padding/5;
    }
  }
}
