/* Colour variables */ 
$lighter-blue: #EDF0F4;
$light-blue: #cfd3db;
$dark-blue: #3792EB;
$dark-grey: #221F1F;
$dark-grey-opaque: #221f1f21;


/* Layout variables */
$padding: 75px;
$border-radius: 5px;


/* Root styles */

:root {
  font-size: 18px;
}

* {
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $lighter-blue;
}

h1 {
  font-weight: 400; 
}

h2 {
  font-weight: 300;
}

.container {
  color: $dark-grey;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin: $padding;
  box-shadow: #221f1f21 0px 0px 5px;
}


/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $padding $padding 0 $padding;

  .site-title {
    flex-grow: 2;

    h1 {
      font-size: 2.5rem;

      a {
        text-decoration: none;
        color: $dark-grey;
      }
    }
  }

  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      margin: 0px 2.5px 0px 2.5px;
      transition: all 0.3s;
      border-radius: $border-radius;
      color: $dark-grey;
    }

    a:hover {
      color: white;
      background-color: $dark-blue;
    }

    }
}

/* Content */

.content {
  padding: $padding;
}

section {
  margin-bottom: $padding / 2;
  border-bottom: $dark-grey-opaque solid 1px;

  h2 {
    display: inline-block;
    background-color: $dark-grey;
    color: #FFFFFF;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: $padding / 4;
    line-height: 1.25;
    font-weight: 300;
  }

}

.section-title {
  margin-bottom: $padding;
  background-color: $dark-blue;
  color: #FFFFFF;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;

  p {
    margin: 0;
    font-weight: 300;
  }
  
}


/* Footer */

footer {
  background-color: $dark-grey;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;

  .footer-links-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-links-column {
      flex-grow: 1;
      height: 325px;
      padding: 5% 10% 5% 10%;
      
      h1 {
        font-size: 1rem;
      }

      ul {
        list-style-type: none;
      }

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  .copyright {
    text-align: center;
    padding: 0px 0px 2% 0px;
    font-size: 0.75rem;
  }

}